<div class="row" *ngIf="peticion!==undefined&&peticion!==null">
  <div class="col-sm-5">
    <br><br><br>
    <app-boton nombreBoton="aceptar"
               (darClick)="aceptarPeticion(identificador)"
    ></app-boton>
    <br>
    <app-boton nombreBoton="rechazar"
               (darClick)="rechazarPeticion(identificador)"
               classe="btn btn-danger"
    ></app-boton>
    <br>
    <h3>Item de Petición</h3>
    <app-componente-pelicula
      [nombrePelicula]="peliSolicitado.nombrePelicula"
      [anioLanzamiento]="peliSolicitado.anioLanzamiento"
      [actoresprincipales]="peliSolicitado.actoresPrincipales"
      [rating]="peliSolicitado.rating"
      [sinopsis]="peliSolicitado.sinopsis"

    ></app-componente-pelicula>
  </div>
  <div class="col-sm-2">
    <br><br><br><br><br><br><br><br>
    <img class="img-fluid" src="/assets/imagenes/flecha.png" alt="">
  </div>
  <div class="col-sm-5">
    <app-componente-usuario [nick]="usuarioOfrece.nick"></app-componente-usuario>
    <h3>Item de Petición</h3>
    <app-componente-pelicula
      [nombrePelicula]="peliSolicitado.nombrePelicula"
      [anioLanzamiento]="peliSolicitado.anioLanzamiento"
      [actoresprincipales]="peliSolicitado.actoresPrincipales"
      [rating]="peliSolicitado.rating"
      [sinopsis]="peliSolicitado.sinopsis"

    ></app-componente-pelicula>
  </div>
</div>

