<app-barra-inicio> [imgUser]="usuarioActual?.urlImg" [nombreUsuario]="usuarioActual?.nombre"></app-barra-inicio>
<br>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">

    <div class="row" style="border-style: solid; border-width: 1px; border-color: #f5f5f5">
      <div class="col-sm-1" style="padding-top: 18px; padding-left: 35px">
        <mat-icon>search</mat-icon>
      </div>
      <div class="col-sm-9">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Busque por usuario, actor o pelicula" [(ngModel)]="datoABuscar">
        </mat-form-field>
      </div>
      <div class="col-sm-2" style="padding-top: 15px">
        <button mat-stroked-button color="primary" style="width: 100%" (click)="cargarDatosbusqueda()">Buscar</button>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>

<br>
<app-componente-usuario></app-componente-usuario>
<app-componente-actor></app-componente-actor>
<app-componente-pelicula></app-componente-pelicula>
