
<div class="container" style="margin-bottom: 20px">
  <div class="row" style="margin-left: 12px">
    <div class="col-sm-3" *ngFor="let info of peliculas; let indice=index" style="margin-bottom: 15px" >
      <div class="card" style="width: 15rem">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <p style="text-align: center">{{info.nombre}} </p>
              <p style="text-align: center"> {{info.sinopsis}} </p>
              <p style="text-align: center"> {{info.anioLanzamiento}} </p>
            </div>
            <div class="col-sm-6">
              <img src={{info.urlPelicula}} alt="" style="width: 100px; height: 100px; align-content: center; margin-top: 10px">
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" (click)="seleccionar(indice)">Seleccionar</button>
      </div>
    </div>
  </div>
</div>
