<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h3>Usuarios</h3>
    <br>
    <div class="row">
      <div *ngFor="let usuario of listaAMostrar" class="col-sm-3" style="width: 100%">
        <mat-card style="height: 400px ;max-width: 350px">
          <h5>{{usuario.nombreUser}}</h5>
          <img style="height: 300px;  width: 300px" src="{{usuario.urlUser}}" alt="Usuario Foto">
          <mat-card-actions>
            <button mat-stroked-button color="warn">Visitar</button>
          </mat-card-actions>
        </mat-card>
        <br>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <button mat-raised-button color="warn" (click)="prev()" [disabled]="paginaActual ===1">Anterior</button>
      </div>
      <div class="col-sm-6"></div>
      <div class="col-sm-3">
        <button mat-raised-button color="warn" style="width: 100%;" (click)="next()" [disabled]="paginaActual===cantidadPaginas">Siguiente</button>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<br>
