<div class="row" style="text-align:center" >
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1 class="animated tada" align="center" style="background: deepskyblue">
      Peticion de transferencia
    </h1>
  </div>
  <div class="col-sm-2"></div>
</div>
<br><br>

<div class="row" *ngIf="usuario!==undefined">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <h3>Usuario</h3>
    <app-componente-usuario
      [nick]="usuario.nombreUser"
      [urlImagen]="usuario.urlUser"></app-componente-usuario>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <h5>Actor</h5><br>
    <app-componente-actor
      [nombres]="usuario.actores[0].nombres"
      [apellidos]="usuario.actores[0].apellidos"
      [numeroDePeliculas]="usuario.actores[0].numeroPeliculas"
    ></app-componente-actor>
  </div>
</div>

<br>
<div class="row">
  <h3 >{{peliculasMostrados}}</h3>
</div>
<br><br>


<div class="row" *ngIf="peliculas.length!==0">
  <div class="col-sm-3 b-r" *ngFor="let pelicula of peliculas;let i=index;">
    <div  *ngIf="i<rangoPeliculas&&i>=rangoPeliculas-4">
      <app-componente-pelicula
        [nombrePelicula]="pelicula.nombrePelicula"
        [anioLanzamiento]="pelicula.anioLanzamiento"
        [actoresprincipales]="pelicula.actoresPrincipales"
        [rating]="pelicula.rating"
        [sinopsis]="pelicula.sinopsis"
      ></app-componente-pelicula>
      <app-boton
        [nombreBoton]="botonPelicula"
        (darClick)="pedirPelicula(pelicula.id)"
      ></app-boton>
      <br>
    </div>
  </div>
</div>

<br><br>
<app-boton
  [nombreBoton]="botonCargar"
  (darClick)="cargarPeliculas()"
></app-boton>
<router-outlet></router-outlet>
