<div class="container" style="margin-bottom: 20px">
  <div class="row" style="margin-left: 12px">
    <div class="col-sm-6" *ngFor="let info of actor" style="margin-bottom: 15px" >
      <div class="card" style="width: 18rem">
        <div class="container">
          <img src={{info.urlActores}} alt="" style="width: 100px; height: 100px; align-content: center; margin-top: 10px; margin-left: 25px">
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <p style="text-align: center">Nombres: {{info.nombres}} </p>

            </div>
            <div class="col-sm-4">
              <p style="text-align: center">Apellido: {{info.apellidos}}</p>
            </div>
            <div class="col-sm-4">
              <p style="text-align: center">Edad: {{info.numeroPeliculas}}</p>
            </div>
            <div class="col-sm-4">
              <p style="text-align: center">Edad: {{info.fechaNacimiento}}</p>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" (click)="seleccionar()">Seleccionar</button>
      </div>
    </div>
  </div>
</div>
